# Python
__pycache__/
*.pyc
*.pyo
*.pyd
.env
venv/
.env.*

# Logs
logs/*.log
logs/*.gz
logs/service.out.log
logs/service.err.log

# Database
*.db

# OS
.DS_Store
Thumbs.db

# IDE
.vscode/
.idea/

# Systemd runtime artifacts
*.pid
